{block name="style"}
<style>
    .uploadimage{
        width: 179px;
        height: 179px;
    }
</style>
{/block}
<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='layui-form layui-card'
      autocomplete="off">

    <div class="layui-card-body">

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">分类名称</label>
            <label class="layui-col-xs10">
                <input name="name" required value='{$vo.name|default=""}' placeholder="请输入分类名称" class="layui-input">
            </label>
        </div>

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">排序</label>
            <label class="layui-col-xs10">
                <input name="sort" required value='{$vo.sort|default=""}' placeholder="请输入分类排序" class="layui-input">
            </label>
        </div>

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">是否上线</label>
            <label class="layui-col-xs10">
                <label class="think-radio">
                    <!--{if(isset($vo.status) and ($vo.status eq '0'))}-->
                    <input type="radio" name="status" value="1">上线&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" checked name="status" value="0">下线
                    <!--{else}-->
                    <input type="radio" checked name="status" value="1">上线&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="status" value="0">下线
                    <!--{/if}-->
                </label>
            </label>
        </div>

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">分类图片<br>(520px*200px)</label>
            <label class="layui-col-xs10">
                <input required name="topic_img_url" type="hidden" value="{$vo.topic_img_url|default=''}">
            </label>
            <script>$('[name="topic_img_url"]').uploadOneImage()</script>
        </div>

        <div class="layui-row margin-bottom-15">
            <label class="layui-col-xs2 think-form-label">分类描述</label>
            <label class="layui-col-xs10">
                <textarea class="layui-textarea" name="description">{$vo.description|default=''}</textarea>
            </label>
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        {notempty name='vo.topic_img_id'}<input type='hidden' value='{$vo.topic_img_id}' name='topic_img_id'>{/notempty}
        {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>

{block name='script'}
{/block}