<!--继承主体模板-->
{extend name='main'}

<!--替换主体模板中的content模块-->
{block name='content'}

<div class="layui-row layui-col-space15">
    <div class="layui-col-md6">
        <div class="think-box-shadow">
            <table class="layui-table" lay-skin="line" lay-even>
                <caption class="text-left margin-bottom-15 font-s14">系统信息</caption>
                <colgroup>
                    <col width="30%">
                </colgroup>
                <tbody>
                <tr>
                    <td>当前程序版本</td>
                    <td></td>
                </tr>
                <tr>
                    <td>运行PHP版本</td>
                    <td></td>
                </tr>
                <tr>
                    <td>ThinkPHP版本</td>
                    <td></td>
                </tr>
                <tr>
                    <td>MySQL数据库版本</td>
                    <td></td>
                </tr>
                <tr>
                    <td>服务器操作系统</td>
                    <td></td>
                </tr>
                <tr>
                    <td>WEB运行环境</td>
                    <td></td>
                </tr>
                <tr>
                    <td>上传大小限制</td>
                    <td></td>
                </tr>
                <tr>
                    <td>POST大小限制</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="think-box-shadow">
            <table class="layui-table" lay-skin="line" lay-even>
                <caption class="text-left margin-bottom-15 font-s14">产品团队</caption>
                <colgroup>
                    <col width="30%">
                </colgroup>
                <tbody>
                <tr>
                    <td>产品名称</td>
                    <td>Vendor1.0.0</td>
                </tr>
                <tr>
                    <td>在线体验</td>
                    <td></td>
                </tr>
                <tr>
                    <td>官方QQ群</td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>项目地址</td>
                    <td></td>
                </tr>
                <tr>
                    <td>BUG反馈</td>
                    <td></td>
                </tr>
                <tr>
                    <td>开发团队</td>
                    <td></td>
                </tr>
                <tr>
                    <td>团队官网</td>
                    <td></td>
                </tr>
                <tr>
                    <td>办公地址</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{/block}


{block name='script'}
<!--<script>
    console.log('test')
</script>-->
{/block}

{block name='style'}
<!--<style>
    .test{
        font-size: 22px;
    }
</style>-->
{/block}