<!DOCTYPE html>
<html lang="zh">
<head>
    <title>{$title|default=''}</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=0.4">
    <link rel="shortcut icon" href="__ROOT__/static/login/imgs/favicon.ico"/>

    <!--网页字体图标库-->
    <link rel="stylesheet" href="__ROOT__/static/plugs/awesome/fonts.css">
    <!--layui样式-->
    <link rel="stylesheet" href="__ROOT__/static/plugs/layui/css/layui.css">
    <!--自定义主题样式-->
    <link rel="stylesheet" href="__ROOT__/static/theme/css/console.css">
    <script>window.ROOT_URL = '__ROOT__';</script>
    <!--网页自动加载进度条插件-->
    <script src="__ROOT__/static/plugs/jquery/pace.min.js"></script>
    {block name="style"}{/block}
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    {block name='body'}
    <!-- 头部区域 开始 -->
    <div class="layui-header notselect">
        <a href="#"
           class="layui-logo layui-elip">Vendor<sup
                class="padding-left-5">v1.0</sup></a>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item" lay-unselect>
                <a class="text-center" title="侧边伸缩" data-target-menu-type>
                    <i class="layui-icon layui-icon-spread-left"></i>
                </a>
            </li>
        </ul>

        <ul class="layui-nav layui-layout-right">
            <li lay-unselect="" class="layui-nav-item">
                <a title="刷新" data-reload=""><i class="layui-icon layui-icon-refresh-3"></i></a>
            </li>
            <li class="layui-nav-item" data-admin-icon>
                <dl class="layui-nav-child layui-anim layui-anim-upbit">
                    <dd lay-unselect=""><a data-modal="admin/index/pass.html"><i
                            class="layui-icon layui-icon-component margin-right-5"></i> 安全设置</a></dd>
                    <dd lay-unselect=""><a data-load="admin/login/out.html" data-confirm="确定要退出登录吗？"><i
                            class="layui-icon layui-icon-release margin-right-5"></i> 退出登录</a></dd>
                </dl>
                <a><span><i class="layui-icon layui-icon-username margin-right-5"></i>admin</span><span
                        class="layui-nav-more layui-nav-mored"></span></a></li>
            <span class="layui-nav-bar"></span></ul>
    </div>
    <!-- 头部区域 结束 -->

    <!-- 左则菜单 开始 -->
    <div class="layui-side layui-bg-black notselect">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" data-menu-layout="m-1">
                <li class="layui-nav-item layui-nav-itemed" data-submenu-layout="m-1-1">
                    <dl class="layui-nav-child">
                        <dd class="layui-this">
                            <a data-target-tips="后台首页" data-open="admin/index/home.html"
                                    data-menu-node="m-1-1-1"><span
                                    class="nav-icon padding-left-5 layui-icon layui-icon-home"></span><span
                                    class="nav-text padding-left-5">后台首页</span></a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item" data-submenu-layout="m-1-10">
                    <a data-target-tips="C端数据" style="background:#393D49"><span
                            class="nav-icon layui-hide layui-icon layui-icon-triangle-d"></span><span
                            class="nav-text padding-left-5">C端数据</span><span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a data-target-tips="订单列表" data-open="admin/order/index.html"
                               data-menu-node="m-1-10-1"><span
                                class="nav-icon padding-left-5 layui-icon layui-icon-template-1"></span><span
                                class="nav-text padding-left-5">订单列表</span></a></dd>
                        <dd><a data-target-tips="C端用户列表" data-open="admin/user/index.html"
                               data-menu-node="m-1-10-2"><span
                                class="nav-icon padding-left-5 layui-icon layui-icon-user"></span><span
                                class="nav-text padding-left-5">C端用户列表</span></a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item" data-submenu-layout="m-1-20">
                    <a data-target-tips="Banner管理" style="background:#393D49"><span
                            class="nav-icon layui-hide layui-icon layui-icon-triangle-d"></span><span
                            class="nav-text padding-left-5">Banner管理</span><span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a data-target-tips="Banner列表" data-open="admin/banner/index"
                               data-menu-node="m-1-20-1"><span
                                class="nav-icon padding-left-5 layui-icon layui-icon-link"></span><span
                                class="nav-text padding-left-5">Banner列表</span></a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item" data-submenu-layout="m-1-30">
                    <a data-target-tips="分类管理" style="background:#393D49"><span
                            class="nav-icon layui-hide layui-icon layui-icon-triangle-d"></span><span
                            class="nav-text padding-left-5">分类管理</span><span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a data-target-tips="分类列表" data-open="admin/category/index"
                               data-menu-node="m-1-30-1"><span
                                class="nav-icon padding-left-5 layui-icon layui-icon-app"></span><span
                                class="nav-text padding-left-5">分类列表</span></a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item" data-submenu-layout="m-1-40">
                    <a data-target-tips="商品管理" style="background:#393D49"><span
                            class="nav-icon layui-hide layui-icon layui-icon-triangle-d"></span><span
                            class="nav-text padding-left-5">商品管理</span><span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a data-target-tips="商品列表" data-open="admin/product/index"
                               data-menu-node="m-1-40-1"><span
                                class="nav-icon padding-left-5 layui-icon layui-icon-component"></span><span
                                class="nav-text padding-left-5">商品列表</span></a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item" data-submenu-layout="m-1-50">
                    <a data-target-tips="主题管理" style="background:#393D49"><span
                            class="nav-icon layui-hide layui-icon layui-icon-triangle-d"></span><span
                            class="nav-text padding-left-5">主题管理</span><span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a data-target-tips="主题列表" data-open="admin/theme/index"
                               data-menu-node="m-1-50-1"><span
                                class="nav-icon padding-left-5 layui-icon layui-icon-set"></span><span
                                class="nav-text padding-left-5">主题列表</span></a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item" data-submenu-layout="m-1-60">
                    <a data-target-tips="系统管理" style="background:#393D49">
                        <span class="nav-icon layui-hide layui-icon layui-icon-triangle-d"></span>
                        <span class="nav-text padding-left-5">系统管理</span><span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd><a data-target-tips="第三方账号管理" data-open="admin/third_app/index.html" data-menu-node="m-1-60-1">
                            <span class="nav-icon padding-left-5 layui-icon layui-icon-username"></span>
                            <span class="nav-text padding-left-5">第三方账号管理</span></a></dd>
                    </dl>
                </li>
                <span class="layui-nav-bar"></span></ul>
        </div>
    </div>
    <!-- 左则菜单 结束 -->

    <!-- 主体内容 开始 -->
    <div class="layui-body layui-bg-gray">
        {block name='content'}{/block}
    </div>
    <!-- 主体内容 结束 -->
    {/block}

</div>
<script src="__ROOT__/static/plugs/layui/layui.all.js"></script>
<script src="__ROOT__/static/plugs/require/require.js"></script>
<script src="__ROOT__/static/admin.js"></script>
<!--admin 需要读取本地浏览器缓存起来的token-->
<script src="__ROOT__/static/login/js/common.js"></script>
{block name='script'}{/block}
</body>

</html>
