{extend name='main'}

{block name="content"}

{include file='product/form_style'}
<form onsubmit="return false;" id="GoodsForm" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body think-box-shadow padding-left-40">

        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs6 relative">
                <span class="color-green">商品分类</span>
                <select class="layui-select" required name="category_id" lay-search>
                    {notempty name='cates'}
                    {foreach $cates as $cate}
                    {if isset($vo.category_id) and $vo.category_id eq $cate.id}
                    <option selected value="{$cate.id}">{$cate.id} - {$cate.name|default=''}</option>
                    {else}
                    <option value="{$cate.id}">{$cate.id} - {$cate.name|default=''}</option>
                    {/if}
                    {/foreach}
                    {/notempty}
                </select>
            </label>
        </div>

        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs6 relative">
                <span class="color-green">商品名称</span>
                <input name="name" required class="layui-input" placeholder="请输入商品名称" value="{$vo.name|default=''}">
            </label>
        </div>

        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs6 relative">
                <span class="color-green">价格</span>
                <input onblur="this.value=Math.abs(parseFloat(this.value)||0.00).toFixed(2)" name="price" required class="layui-input" placeholder="请输入商品价格" value="{$vo.price|default=''}">
            </label>
        </div>

        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs6 relative">
                <span class="color-green">库存</span>
                <input onblur="this.value=Math.abs(parseFloat(this.value)||0).toFixed(0)" name="stock" required class="layui-input" placeholder="请输入商品库存" value="{$vo.stock|default=''}">
            </label>
        </div>

        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs6 relative">
                <span class="color-green">是否上线</span>
                <div class="layui-form-item" required>
                    <!--{if(isset($vo.status) and ($vo.status eq '0'))}-->
                    <input type="radio" name="status" value="1" title="上线" lay-filter="status">
                    <input type="radio" name="status" value="0" title="下线" checked lay-filter="status">
                    <!--{else}-->
                    <input type="radio" name="status" value="1" title="上线" checked lay-filter="status">
                    <input type="radio" name="status" value="0" title="下线" lay-filter="status">
                    <!--{/if}-->
                </div>
            </label>
        </div>

        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs12 relative">
                <span class="color-green">商品参数说明</span>
                <textarea required class="layui-textarea" name="product_property" placeholder="请输入商品参数说明，格式如：key1:val1;key2:val2;...">{$vo.product_property|default=''}</textarea>
            </label>
        </div>

        <div class="layui-form-item">
            <span class="color-green label-required-prev">商品主图及详情展示图片</span>
            <table class="layui-table">
                <thead>
                <tr>
                    <th class="text-center">主图(480px * 480px)</th>
                    <th class="text-left">详情展示图片(480px * 256px)</th>
                </tr>
                <tr>
                    <td width="90px" class="text-center"><input name="main_img_url" type="hidden" value="{$vo.main_img_url|default=''}"></td>
                    <td width="auto" class="text-left"><input name="detail_image" type="hidden" value="{$vo.detail_image|default=''}"></td>
                </tr>
                </thead>
            </table>
            <script>$('[name="main_img_url"]').uploadOneImage(), $('[name="detail_image"]').uploadMultipleImage()</script>
        </div>

        <div class="layui-form-item block">
            <span>商品描述</span>
            <textarea class="layui-textarea" name="summary">{$vo.summary|default=''|raw}</textarea>
        </div>

        <div class="layui-form-item text-center">
            {notempty name='vo.id'}<input type="hidden" name="id" value="{$vo.id}">{/notempty}
            {notempty name='vo.img_id'}<input type="hidden" name="img_id" value="{$vo.img_id}">{/notempty}
            <button class="layui-btn layui-btn-danger" ng-click="hsitoryBack()" type="button">取消编辑</button>
            <button class="layui-btn" type="submit">保存商品</button>
        </div>

    </div>
</form>
{/block}

{block name='script'}
<script>
    window.form.render();
    require(['ckeditor', 'angular'], function () {
        // window.createEditor('[name="summary"]', {height: 500});
        var app = angular.module("GoodsForm", []).run(callback);
        angular.bootstrap(document.getElementById(app.name), [app.name]);

        function callback($rootScope) {
            $rootScope.isAddMode = parseInt('{$isAddMode|default=0}');
            // 返回商品列表
            $rootScope.hsitoryBack = function () {
                $.msg.confirm('确定要取消编辑吗？', function (index) {
                    history.back(), $.msg.close(index);
                });
            };
        }
    })

    //监听上线按钮
    window.form.on('radio(status)', function(data){
        $("input[name='status']").val(data.value);
    });
</script>
{/block}