{extend name='main'}

{block name="button"}
<button data-modal='{:url("add")}' data-title="添加分类" class='layui-btn layui-btn-sm layui-btn-primary'>添加商品</button>
{/block}

{block name="content"}
<div class="think-box-shadow">
    {include file='product/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
            </th>
            <th class='text-left nowrap' width="25%">主图</th>
            <th class='text-left nowrap'>商品名称</th>
            <th class='text-left nowrap'>所属分类</th>
            <th class='text-left nowrap'>价格,单位：分</th>
            <th class='text-left nowrap'>库存量</th>
            <th class='text-left nowrap'>摘要</th>
            <th class='text-left nowrap'>创建时间</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
            </td>
            <td class='text-left nowrap'>
                <img data-tips-image src="__ROOT__/images{$vo.main_img_url}" class="margin-right-5 text-top">
            </td>
            <td class='text-left nowrap'>{$vo.name|default=''}</td>
            <td class='text-left nowrap'>{$vo.category_name|default=''}</td>
            <td class='text-left nowrap'>{$vo.price|default=''}</td>
            <td class='text-left nowrap'>{$vo.stock|default=''}</td>
            <td class='text-left nowrap'>{$vo.summary|default=''}</td>
            <td class='text-left nowrap'>{$vo.create_time|format_datetime}</td>
            <td class='text-left nowrap'>
                <a data-dbclick class="layui-btn layui-btn-sm" data-title="编辑" data-modal='{:url("detail")}?id={$vo.id}'>编 辑</a>

                <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除该商品吗？" data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('remove')}">删 除</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
        {/notempty}
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}