{extend name='main'}

{block name="content"}
<div class="think-box-shadow">
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
        <tr>
            <th class='text-left nowrap'>订单id</th>
            <th class='text-left nowrap'>商品id</th>
            <th class='text-left nowrap'>购买数量</th>
            <th class='text-left nowrap'>更新时间</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='text-left nowrap'>{$vo.order_id|default=''}</td>
            <td class='text-left nowrap'>{$vo.product_id|default=''}</td>
            <td class='text-left nowrap'>{$vo.count|default=''}</td>
            <td class='text-left nowrap'>{$vo.update_time|format_datetime}</td>
        </tr>
        {/foreach}
        </tbody>
        {/notempty}
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}