{extend name='main'}

{block name="content"}
<div class="think-box-shadow">
    {include file='order/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
            </th>
            <th class='text-left nowrap'>id</th>
            <th class='text-left nowrap' width="25%">订单号</th>
            <th class='text-left nowrap'>用户id</th>
            <th class='text-left nowrap'>单品数量</th>
            <th class='text-left nowrap'>商品总金额</th>
            <th class='text-left nowrap'>快递费用</th>
            <th class='text-left nowrap'>实付总金额</th>
            <th class='text-left nowrap'>状态</th>
            <th class='text-left nowrap'>发货信息</th>
            <th class='text-left nowrap'>更新时间</th>
            <th class='text-left nowrap'>创建时间</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
            </td>
            <td class='text-left nowrap'>{$vo.id|default=''}</td>
            <td class='text-left nowrap'>{$vo.order_no|default=''}</td>
            <td class='text-left nowrap'>{$vo.user_id|default=''}</td>
            <td class='text-left nowrap'>{$vo.total_count|default=''}</td>
            <td class='text-left nowrap'>{$vo.total_price|default=''}</td>
            <td class='text-left nowrap'>{$vo.express_price|default=''}</td>
            <td class='text-left nowrap'>{$vo.pay_price|default=''}</td>
            <td class='text-left nowrap'>
                {eq name='vo.status' value='1'}<span class="layui-badge layui-bg-gray">未支付</span>
                {elseif $vo.status eq 2}<span class="layui-badge layui-bg-orange">已支付,待发货</span>
                {elseif $vo.status eq 3}<span class="layui-badge layui-bg-green">已发货</span>
                {elseif $vo.status eq 4}<span class="layui-badge layui-bg-orange">已支付，但库存不足</span>
                {elseif $vo.status eq 5}<span class="layui-badge layui-bg-green">已完成</span>
                {elseif $vo.status eq 6}<span class="layui-badge layui-bg-gray">已取消</span>
                {/eq}
                <br>
            </td>
            <td class='text-left nowrap'>
                收货信息：{$vo.snap_address.name|default='--'}<span class="margin-left-5 color-blue">{$vo.snap_address.mobile|default='--'}</span><br>
                收货地址：{$vo.snap_address.province|default='--'}{$vo.snap_address.city|default='--'}{$vo.snap_address.country|default='--'}{$vo.snap_address.detail|default='--'}<br>
                物流信息：
                <!--{notempty name='vo.express_send_no'}-->
                {eq name='vo.status' value='3'}
                <span class="layui-badge layui-bg-blue">{$vo.express_company_title|default=''}</span>
                <a data-title="{$vo.express_company_title}（{$vo.express_send_no}）" data-tips-text="快递追踪查询"
                   data-modal="{:url('expressQuery')}?code={$vo.express_company_code}&no={$vo.express_send_no}"
                   class="layui-badge layui-bg-gray margin-left-5">{$vo.express_send_no|default=''}</a>
                {/eq}
                <!--{/notempty}-->
                <br>
                发货时间：{$vo.express_send_time|format_datetime}
            </td>
            <td class='text-left nowrap'>{$vo.update_time|format_datetime}</td>
            <td class='text-left nowrap'>{$vo.create_time|format_datetime}</td>
            <td class='text-left nowrap'>
                <a data-dbclick class="layui-btn layui-btn-sm" data-title="发货" data-modal='{:url("delivery")}?id={$vo.id}'>发 货</a>
                <a data-dbclick class="layui-btn layui-btn-sm layui-btn-normal" data-title="查看" data-open='{:url("edit")}?id={$vo.id}'>查 看</a>
                <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除该订单吗？" data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('remove')}">删 除</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
        {/notempty}
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}